@font-face {
    font-family: 'Brass Mono';
    src: url('../fonts/BrassMono-Regular.ttf') format('TrueType');
}

body {
    font-family: 'Brass Mono';
}

header {
    background-color: #8DC8D0;
    height: 150px;
    border: 1px solid #8DC8D0;
    border-radius: 0px 0px 50px 50px;
    box-shadow: 3px 3px 3px 3px #59777A;
}

header img {
    transition: 0.3s;
}

header img:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

#logo_image {
    display: block;
    margin: 0 auto;
    margin-top: 18px;
}

#wrapper {
    margin: auto;
    max-width: 1200px;
}

.index_inf {
    display: flex;
    justify-content: space-between;
}

.index_inf h1 {
    margin-top: 30px;
    text-align: center;
    font-size: 130%;
    letter-spacing: 0px;
    transition: 0.3s;
}

.index_inf h1:hover {
    letter-spacing: 1px;
    transition: 0.3s;
}

.index_inf a {
    color: #000000;
    text-decoration: none;
}

.tap-container {
    margin-top: 190px;
}

#tap {
    margin-left: 720px;
    transition: 0.8s;
}

#tap:hover {
    letter-spacing: 2px;
    transition: 0.3s;
}

#index_line {
    margin-left: 530px;
    margin-top: -18px;
    transition: 0.8s;
}

.index_inf_button {
    margin-top: 10px;
    display: block;
    font-size: 170%;
    text-align: center;
}

#index_a_first_h1 {
    opacity: 0;
    margin-top: 0px;
    letter-spacing: 20px;
    transition: 0.3s;
}

#index_a_second_h1 {
    margin-top: -59px;
    opacity: 1;
    letter-spacing: 0px;
    transition: 0.3s;
}

.index_inf a:hover #index_a_first_h1 {
    opacity: 1;
    letter-spacing: 0px;
    transition: 0.3s;
}

.index_inf a:hover #index_a_second_h1 {
    opacity: 0;
    letter-spacing: 20px;
    transition: 0.5s;
}

.index_inf a:hover #tap {
    opacity: 0;
    transition: 0.5s;
}

.index_inf a:hover #index_line {
    opacity: 0;
    transition: 0.5s;
}


footer {
    background-color: #638286;
    border: 1px solid #638286;
    border-radius: 50px 50px 0px 0px;
    height: 200px;
    margin-top: 100px;
}

.footer {
    margin: auto;
    margin-top: 80px;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
}

.footer p {
    color: #ffffff;
    font-size: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1400px;
}

#logo {
    margin-top: 25px;
}

.sellinf_content_image {
    margin: auto;
    max-width: 250px;
    transition: 0.3s;
}

.sellinf_content_image:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.sellinf_content_h1 {
    margin: auto;
    max-width: 600px;
}

.sellinf_content_h1 h1 {
    font-size: 110%;
    margin-left: 30px;
}

.platform_content {
    display: flex;
    justify-content: space-between;
}


.main_footer {
    margin: auto;
    margin-top: 80px;
    max-width: 950px;
    display: flex;
    justify-content: space-between;
}

.main_footer p {
    color: #ffffff;
}

.main_footer ul {
    margin-top: 5px;
    display:block;
    list-style-type: none;
}

.main_footer li {
    margin-bottom: 15px;
}

.main_footer li a {
    color: #ffffff;
    text-decoration: none;
}

.main_footer li a:hover {
    text-decoration: underline;
}

.user_form {
    max-width: 410px;
    margin: 0 auto;
    margin-top: 150px;
    border: 8px solid #59777A;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 200px;
}

.user_form h1 {
    text-align: center;
    letter-spacing: 0px;
    transition: 0.3s;
}

.user_form h1:hover {
    letter-spacing: 5px;
    transition: 0.3S;
}

.user_form input{
    font-family: 'Brass Mono';
    font-size: 200%;
    width: 384px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 15px;
}

.errorlist {
    color: #B00000;
    list-style-type: none;
    margin-left: -30px;
    font-size: 120%;
}

.user_form button {
    margin-bottom: 20px;
    background-color: #ffffff;
    color: #8DC8D0;
    font-family: 'Brass Mono';
    border: 2px solid black;
    border-radius: 15px;
    width: 398px;
    height: 50px;
    font-size: 150%;
    transition: 0.3s;
}

.user_form button:hover {
    background-color: #8DC8D0;
    color: #ffffff;
    transition: 0.3s;
}

.user_form a {
    margin-left: 190px;
}

.content {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 30px;
}

.content_block {
    width: 68%;
    padding: 25px;
    border: 5px solid #59777A;
    border-radius: 25px;
}

.content_block a {
    color: black;
    text-decoration: none;
}

.content_block div{
    display: flex;
    justify-content: space-between;
}

.user_content_block {
    border: 5px solid #59777A;
    border-radius: 25px;
    padding: 25px;
}

.user_content_inf {
    display: flex;
    justify-content: space-between;
}

.circle-image {
    display: inline-block;
    margin-left: -10px;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
}

.circle-image img {
    width:100%;
    height:100%;
    object-fit: cover;
}

.user_inf {
    margin-left: 10px;
    margin-top: -12px;
    margin-bottom: 10px;
}

.user_content_block a {
    margin-left: 20px;
    margin-top: 10px;
    color: #000000;
    text-decoration: none;
    text-align: center;
    font-size: 110%;
    border: 3px solid #59777A;
    border-radius: 15px;
    width: 200%;
    padding: 5px 50px;
    transition: 0.3s;
}

.user_content_block a:hover{
    background-color: #59777A;
    color: #ffffff;
    transition: 0.3s;
}


.content_block_premium {
    width: 68%;
    padding: 25px;
    border: 5px solid #E4C208;
    border-radius: 25px;
}

.content_block_premium a {
    color: black;
    text-decoration: none;
}

.content_block_premium div{
    display: flex;
    justify-content: space-between;
}


.user_content_block_premium {
    border: 5px solid #E4C208;
    border-radius: 25px;
    padding: 25px;
}


.user_content_block_premium a {
    margin-left: 20px;
    margin-top: 10px;
    color: #000000;
    text-decoration: none;
    text-align: center;
    font-size: 110%;
    border: 3px solid #E4C208;
    border-radius: 15px;
    width: 200%;
    padding: 5px 50px;
    transition: 0.3s;
}

.user_content_block_premium a:hover{
    background-color: #E4C208;
    color: #ffffff;
    transition: 0.3s;
}

.about {
    display: flex;
    justify-content: space-between;
    font-size: 120%;
}

.about_h1 {
    font-size: 300%;
    margin-left: 5px;
    letter-spacing: 0px;
    transition: 0.4s;
}

.about_h1:hover {
    letter-spacing: 100px;
    transition: 0.4s;
}

.main_inf {
    width: 40%;
    border: 5px solid #59777A;
    border-radius: 15px;
    padding: 25px;
}

.main_inf p {
    letter-spacing: 0px;
    transition: 0.3s;
}

.main_inf p:hover {
    letter-spacing: 1px;
    transition: 0.3s;
}

.another_inf {
    width: 50%;
}

.image_inf {
    background-color: #8DC8D0;
    border: 5px solid #59777A;
    border-radius: 15px;
    padding: 25px;
}

.image_inf img {
    margin-left: 65px;
    transition: 0.3s;
}

.image_inf img:hover {
    transform: scale(1.3);
    transition: 0.3s;
}

.upgrade_inf {
    margin-top: 40px;
    border: 5px solid #E4C208;
    border-radius: 15px;
    padding: 25px;
    height: 430px;
}

.upgrade_inf h1 {
    text-align: center;
    letter-spacing: 0px;
    transition: 0.3s;
}

.upgrade_inf h1:hover {
    letter-spacing: 1px;
    transition: 0.3s;
}

.upgrade_inf p {
    margin-bottom: 170px;
    letter-spacing: 0px;
    transition: 0.3s;
}

.upgrade_inf p:hover {
    letter-spacing: 1px;
    transition: 0.3s;
}

.upgrade_inf a {
    margin-left: 100px;
    color: #000000;
    text-decoration: none;
    text-align: center;
    font-size: 180%;
    border: 3px solid #E4C208;
    border-radius: 15px;
    width: 200%;
    padding: 5px 100px;
    transition: 0.3s;
}

.upgrade_inf a:hover{
    background-color: #E4C208;
    color: #ffffff;
    transition: 0.3s;
}

.upgrade {
    width: 380px;
    margin: 0 auto;
}

.upgrade h2 {
    margin-top: 50px;
    margin-bottom: -20px;
    text-align: center;
}

.main_upgrade_inf p {
    text-align: center;
    font-size: 115%;
}

.upgrade_hr {
    margin-bottom: 50px;
    background-color: #000000;
    height: 2px;
}

.upgrade_list {
    list-style-type: none;
}


.upgrade_list li {
    display: flex;
    margin-left: -55px;
    margin-top: 25px;
}

.upgrade_buy_button {
    margin-left: 200px;
    border: 5px solid #E4C208;
    border-radius: 15px;
    padding: 15px 200px;
    color: #000000;
    text-decoration: none;
    font-size: 150%;
    transition: 0.3s;
}

.upgrade_buy_button:hover {
    background-color: #E4C208;
    color: #ffffff;
    transition: 0.3s;
}

.buy_upgrade_content {
    margin-top: 50px;
    height: 110%;
    border: 10px solid #E4C208;
    height: 130%;
    border-radius: 15px;
    padding: 35px  55px;
}

.search_form {
    display: flex;
    justify-content: space-between;
    border: 5px solid #59777A;
    border-radius: 45px;
    height: 50px;
    padding: 5px 10px;
}

.search_form input {
    margin-top: -10px;
    font-family: 'Brass Mono';
    font-size: 200%;
    width: 850px;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 15px;
}

.search_form button {
    margin-bottom: 20px;
    background-color: #ffffff;
    color: #8DC8D0;
    font-family: 'Brass Mono';
    border: 2px solid #8DC8D0;
    border-radius: 15px;
    width: 200px;
    height: 50px;
    font-size: 150%;
    transition: 0.3s;
}

.search_form button:hover {
    background-color: #8DC8D0;
    color: #ffffff;
    transition: 0.3s;
}

.pagination {
    font-size: 150%;
}

.pagination hr {
    margin-bottom: 50px;
    background-color: #8DC8D0;
    height: 1px;
}

.pagination a {
    text-decoration: none;
    background-color: #8DC8D0;
    color: #ffffff;
    border: 1px solid #8DC8D0;
    border-radius: 15px;
    padding: 15px
}

.messages .success  {
    margin-left: -30px;
    list-style-type: none;
    width: 100%;
    background-color: #BDECB6;
    font-size: 150%;
    padding: 25px 10px;
    border: 1px solid #BDECB6;
    border-radius: 15px;
}

.messages .error  {
    color: #ffffff;
    margin-left: -30px;
    list-style-type: none;
    width: 100%;
    background-color: #f05274;
    font-size: 150%;
    padding: 25px 10px;
    border: 1px solid #f05274;
    border-radius: 15px;
}

.content_detail_content {
    margin-top: 60px;
}

.content_detail_title {
    margin-top: 30px;
    font-size: 250%;
    letter-spacing: 0px;
    transition: 0.3s;
}

.content_detail_title:hover {
    letter-spacing: 2px;
    transition: 0.3s;
}

.content_detail_content p {
    font-size: 130%;
    white-space: pre-wrap;
}

#under_title_line {
    margin-top: -20px;
}

.content_detail_inf {
    display: flex;
    justify-content: space-between;
}

.content_detail_inf a {
    color: #000000;
}

#profile_nickname {
    font-size: 250%;
    border: 5px solid #59777A;
    border-radius: 25px;
    padding: 50px  30px;
    letter-spacing: 0px;
    transition: 0.3s;
}

#profile_nickname:hover {
    letter-spacing: 6px;
    transition: 0.3s;
}

.profile_inf {
    display: flex;
    justify-content: space-between;
}

.profile_about {
    width: 45%;
    border: 5px solid #59777A;
    border-radius: 25px;
    padding: 20px  30px;
    height: 590px;
}

.profile_about h1 {
    font-size: 250%;
    letter-spacing: 0px;
    transition: 0.3s;
}

.profile_about h1:hover {
    letter-spacing: 100px;
    transition: 0.3s;
}

.profile_about p {
    font-size: 130%;
    letter-spacing: 0px;
    transition: 0.3s;
}

.profile_about p:hover {
    letter-spacing: 1px;
    transition: 0.3s;
}

.profile_main_inf {
    max-width: 45%;
}

.user_inf_block_first, .user_inf_block_second {
    border: 5px solid #59777A;
    border-radius: 25px;
    padding: 20px  30px;
    height: 39%;
}

.user_inf_block_first {
    display: flex;
    justify-content: space-between;
}

.user_profile_inf h2 {
    font-size: 250%
}

.user_profile_inf p {
    font-size: 190%;
}
  
.circle-image-profile {
    display: inline-block;
    margin-left: -10px;
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

.user_inf_block_second {
    margin-top: 30px;
    height: 260px;
}

.user_inf_block_second h1 {
    font-size: 220%;
    letter-spacing: 0px;
    transition: 0.3s;
}

.user_inf_block_second h1:hover {
    letter-spacing: 1px;
    transition: 0.3s;
}

.user_inf_block_second p {
    letter-spacing: 0px;
    font-size: 130%;
    transition: 0.3s;
}

.user_inf_block_second p:hover {
    letter-spacing: 1px;
    transition: 0.3s;
}

.user_inf_block_second a{
    margin-left: 18px;
    margin-top: 35px;
    color: #000000;
    text-decoration: none;
    text-align: center;
    font-size: 150%;
    border: 3px solid #8DC8D0;
    border-radius: 15px;
    width: 200%;
    padding: 10px 150px;
    transition: 0.3s;
}

.user_inf_block_second a:hover {
    background-color: #8DC8D0;
    color: #ffffff;
    transition: 0.3s;
}

.profile_operaion {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

#my_publications {
    background-color: #82bac2;
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
    font-size: 140%;
    border: 1px solid #8DC8D0;
    border-radius: 15px;
    transition: 0.3s;
}

#my_publications:hover {
    background-color: #62939b;
    border: 1px solid #62939b;
    transition: 0.3s;
}

#add_publications {
    background-color: #65c457;
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
    font-size: 140%;
    border: 1px solid #BDECB6;;
    border-radius: 15px;
    transition: 0.3s;
}

#add_publications:hover {
    background-color: #51a344;
    border: 1px solid #51a344;
    transition: 0.3s;
}


#delete_account {
    background-color: #e24668;
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
    font-size: 140%;
    border: 1px solid #e24668;;
    border-radius: 15px;
    margin-top: -20px;
    transition: 0.3s;
}

#delete_account:hover {
    background-color: #b3324e;
    border: 1px solid #b3324e;
    transition: 0.3s;
}

.user_update_form {
    max-width: 410px;
    margin: 0 auto;
    margin-top: 100px;
    border: 8px solid #59777A;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 100px;
}


.user_update_form h1 {
    text-align: center;
    letter-spacing: 0px;
    transition: 0.3s;
}

.user_update_form h1:hover {
    letter-spacing: 5px;
    transition: 0.3S;
}

.user_update_form p {
    font-size: 110%;
}

.user_update_form input{
    font-family: 'Brass Mono';
    font-size: 200%;
    width: 384px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 15px;
}

.user_update_form textarea {
    font-family: 'Brass Mono';
    font-size: 150%;
    width: 384px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 15px;
}

.user_update_form input[type='file'] {
    font-size: 100%;
    background-color: #ffffff;
    border: none;
}

.user_update_form button {
    margin-bottom: 20px;
    background-color: #ffffff;
    color: #8DC8D0;
    font-family: 'Brass Mono';
    border: 2px solid black;
    border-radius: 15px;
    width: 398px;
    height: 50px;
    font-size: 150%;
    transition: 0.3s;
}

.user_update_form button:hover {
    background-color: #8DC8D0;
    color: #ffffff;
    transition: 0.3s;
}

.user_delete_form {
    max-width: 410px;
    margin: 0 auto;
    margin-top: 100px;
    border: 8px solid #59777A;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 100px;
}


.user_delete_form h1 {
    text-align: center;
    letter-spacing: 0px;
    transition: 0.3s;
}

.user_delete_form h1:hover {
    letter-spacing: 5px;
    transition: 0.3S;
}


.user_delete_form input{
    font-family: 'Brass Mono';
    font-size: 200%;
    width: 384px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 15px;
}

.user_delete_form button {
    margin-bottom: 20px;
    color: black;
    background-color: #ffffff;
    font-family: 'Brass Mono';
    border: 2px solid #EE204D;
    border-radius: 15px;
    width: 398px;
    height: 50px;
    font-size: 150%;
    transition: 0.3s;
}

.user_delete_form button:hover {
    background-color: #e24668;
    color: #ffffff;
    transition: 0.3s;
}


.user_delete_form p {
    font-weight: bold;
}

.content_create_form {
    max-width: 410px;
    margin: 0 auto;
    margin-top: 100px;
    border: 8px solid #59777A;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 100px;
}


.content_create_form h1 {
    text-align: center;
    letter-spacing: 0px;
    transition: 0.3s;
}

.content_create_form h1:hover {
    letter-spacing: 5px;
    transition: 0.3S;
}


.content_create_form input{
    font-family: 'Brass Mono';
    font-size: 200%;
    width: 384px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 15px;
}

.content_create_form textarea {
    font-family: 'Brass Mono';
    font-size: 150%;
    width: 384px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 15px;
}

.content_create_form select {
    font-family: 'Brass Mono';
    font-size: 150%;
    width: 384px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 15px;
}

.content_create_form button {
    margin-bottom: 20px;
    color: black;
    background-color: #ffffff;
    font-family: 'Brass Mono';
    border: 2px solid #59777A;
    border-radius: 15px;
    width: 398px;
    height: 50px;
    font-size: 150%;
    transition: 0.3s;
}

.content_create_form button:hover {
    background-color: #8DC8D0;
    color: #ffffff;
    transition: 0.3s;
}

.messages .info  {
    margin-left: -30px;
    list-style-type: none;
    width: 100%;
    color: #ffffff;
    background-color: #5cc4db;
    font-size: 150%;
    padding: 25px 10px;
    border: 1px solid #5cc4db;
    border-radius: 15px;
}

.publish_content_h1 {
    text-align: center;
    font-size: 250%;
}

.publish_content_block {
    border: 5px solid #59777A;
    border-radius: 25px;
    padding: 25px;
    width: 100%;
}

.publish_content_block div {
    display: flex;
    justify-content: space-between;
}

.content_operation {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.deleting {
    margin-top: 250px;
}

.deleting h1{
    text-align: center;
    font-size: 210%;
}

.deleting .delete_buttons {
    display: flex;
    justify-content: space-between;
}

.edit_content {
    background-color: #65c457;
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
    font-size: 140%;
    border: 1px solid #BDECB6;;
    border-radius: 15px;
    transition: 0.3s;
}

.edit_content:hover {
    background-color: #51a344;
    border: 1px solid #51a344;
    transition: 0.3s;
}

.delete_content{
    background-color: #e24668;
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
    font-size: 140%;
    border: 1px solid #e24668;;
    border-radius: 15px;
    margin-top: -20px;
    transition: 0.3s;
}

.delete_content:hover {
    background-color: #b3324e;
    border: 1px solid #b3324e;
    transition: 0.3s;
}

#delete {
    background-color: #e24668;
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
    font-size: 140%;
    border: 1px solid #e24668;;
    border-radius: 15px;
    margin-top: -20px;
    transition: 0.3s;
}

#delete:hover {
    background-color: #b3324e;
    border: 1px solid #b3324e;
    transition: 0.3s;
}

#back {
    background-color: #5cc4db;
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
    font-size: 140%;
    border: 1px solid #5cc4db;;
    border-radius: 15px;
    transition: 0.3s;
}

#back a {
    color: #ffffff;
    text-decoration: none;
}

#back:hover {
    background-color: #46afc7;
    border: 1px solid #46afc7;
    transition: 0.3s;
}

#check_publications {
    background-color: #82bac2;
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
    font-size: 140%;
    border: 1px solid #82bac2;;
    border-radius: 15px;
    transition: 0.3s;
    width: 100%;
    text-align: center;
}

#check_publications:hover {
    background-color: #5f9ca5;
    border: 1px solid #5f9ca5;
    transition: 0.3s;
}

.content-moderator {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
}

.content-moderator a {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 30px;
    color: #000000;
    text-decoration: none;
    width: 100%;
}
    
.publish_content {
    background-color: #65c457;
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
    font-size: 140%;
    border: 1px solid #BDECB6;;
    border-radius: 15px;
    transition: 0.3s;
}

.publish_content:hover {
    background-color: #51a344;
    border: 1px solid #51a344;
    transition: 0.3s;
}