{% load static %}
<footer>
    <div class="main_footer">
        <ul>
            <li><a href="{% url 'content:content_list' %}">PLATFORM</a></li>
            <li><a href="{% url 'content:about' %}">ABOUT</a></li>
        </ul>
        <img src="{% static 'images/cloud.png' %}" alt="" height="50px" style="margin-left: 20px;">
        <p>COPYRIGHT© 2023 SELLINF. ALL RIGHTS RESERVED.</p>
        <img src="{% static 'images/cloud.png' %}" alt="" height="50px" style="transform: scale(-1, 1);">
        <ul>
            <li><a href="{% url 'users:user_detail' user.pk %}">PROFILE</a></li>
            <li><a href="{% url 'users:logout' %}">EXIT</a></li>
        </ul>
    </div>
</footer>