{% load static %}
<header>
    <div class="header">
        <ul>
            <a href=""><img src="{% static 'images/platform.png' %}" alt="" height="120px"></a>
            <a href=""><img src="{% static 'images/about.png' %}" alt="" height="120px"></a>
        </ul>
        <img src="{% static 'images/sellinf_logo.png' %}" alt="" height="110px" id="logo">
        <ul>
            <a href=""><img src="{% static 'images/profile.png' %}" alt="" height="120px"></a>
            <a href=""><img src="{% static 'images/upgrade.png' %}" alt="" height="120px"></a>
        </ul>
    </div>
</header>